
<ion-header>
  <h1>Testing Screen</h1>
</ion-header>

<ion-content>
  <h2>{{this.testSuite.testSuiteName}}</h2>
  <div *ngFor = 'let test of this.testSuite.tests'>
    <h3>{{test.testingForTitle}}</h3>
    <div *ngIf="test.status == test.TESTING_STATUS.SUCCESS">
      <button full ion-button color="secondary">{{test.status}} </button>
    </div>
    <div *ngIf="test.status ==test.TESTING_STATUS.FAILED">
      <button full ion-button color="danger">{{test.status}}</button>
    </div>
    <div *ngIf="test.status ==test.TESTING_STATUS.PENDING">
      <button full ion-button color="light">{{test.status}}</button>
    </div>
  </div>
</ion-content>
